<mat-toolbar>
    <span>Ciclos</span>
</mat-toolbar>

<div class="main-form">
    <mat-card class="cycle-card" appearance="outlined">
        <mat-card-content>
            <form>
                <mat-form-field appearance="outline">
                    <mat-label>Billetera</mat-label>
                    <mat-select [(value)]="selectedPocket">
                        <mat-option></mat-option>
                        @for (option of pockets; track option) {
                            <mat-option [value]="option.pocket_id">{{ option.name }}</mat-option>
                        }
                    </mat-select>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Presupuesto</mat-label>
                    <input matInput type="text"
                           inputmode="decimal"
                           name="budget"
                           [(ngModel)]="cycle.budget"
                           [currencyMask]="{
                                align: 'left',
                                prefix: '$ ',
                                precision: 0,
                                min: 0,
                                thousands: '.',
                                decimal: ','
                           }"/>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Fecha de vigencia</mat-label>
                    <mat-date-range-input [rangePicker]="picker">
                        <input matStartDate [(ngModel)]="cycle.date_init" name="date_init">
                        <input matEndDate [(ngModel)]="cycle.date_end" name="date_end">
                    </mat-date-range-input>
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-date-range-picker #picker></mat-date-range-picker>
                </mat-form-field>
            </form>
        </mat-card-content>
        <mat-card-footer class="example-card-footer">
            <button mat-flat-button type="button" color="primary" (click)="onSave()">
                GUARDAR
            </button>
            <button mat-button class="btn-cancel" (click)="onCancelNewCycle()">CANCELAR</button>
        </mat-card-footer>
    </mat-card>
</div>