table {
    background-color: #FFFFFF;
}

table th {
    background-color: #dae2f9;
    color: #005cbb;
    border:1px solid #dae2f9;
}

table th, td {
    text-align: center;
}

mat-form-field {
    background-color: #FFFFFF; /* Fondo del contenedor */
    padding-top: 15px;
}

mat-form-field input {
    background-color: #FFFFFF; /* Fondo blanco */
    color: black; /* Texto negro (opcional) */
}

/* Alternar colores de fila */
.table-responsive table tr:nth-child(even) {
    background-color: #f9f7f7; /* Gris claro */
}

.table-responsive table tr:nth-child(odd) {
    background-color: #ffffff; /* Blanco */
}

/* Para iPhones pequeños */
@media (max-width: 375px) {
    mat-form-field {
        width: 100%; /* Ocupa el 100% del contenedor */
        max-width: 100px; /* Ancho máximo para evitar que sea demasiado grande */
        margin: 8px 0; /* Espaciado vertical */
    }
}

/* Para iPhones medianos y grandes */
@media (max-width: 430px) {
    mat-form-field {
        width: 100%; /* Ocupa el 100% del contenedor */
        max-width: 100px; /* Ancho máximo para evitar que sea demasiado grande */
        margin: 8px 0; /* Espaciado vertical */
    }
}

/* Para pantallas de escritorio estándar */
@media (min-width: 1024px) {
    mat-form-field {
        width: calc(50% - 16px);
    }
}

/* Para pantallas de escritorio grandes */
@media (min-width: 1440px) {
    mat-form-field {
        width: calc(33.33% - 16px);
    }
}