<mat-toolbar>
    Ejecución del presupuesto
</mat-toolbar>

<div class="main-form">
    <form>
        <mat-form-field class="budget-card" appearance="outline">
            <mat-label>Bolsillo</mat-label>
            <mat-select
                    (selectionChange)="onSelectionChanged($event)">
                <mat-option></mat-option>
                @for (option of cycles; track option) {
                    <mat-option
                            [value]="option.cycle_id">
                        {{ option.pocket_name + ' (' + option.name + ')' }}
                    </mat-option>
                }
            </mat-select>
        </mat-form-field>
    </form>
</div>

<div class="progress-card">
    <div class="progress-header">
        <!-- Bloque Gastado -->
        <div class="progress-start">
            <span class="subtitle">Gastado</span>
            <span class="progress-value">
                {{ budget.spent | currency:'$ ':'symbol':'1.0-0' }}
                ({{ budget.spent_ratio }}%)
            </span>
        </div>

        <!-- Bloque Presupuestado -->
        <div class="progress-end">
            <span class="subtitle">Presupuestado</span>
            <span class="progress-value">{{ budget.budget | currency:'$ ':'symbol':'1.0-0' }}</span>
        </div>
    </div>

    <!-- Barra de progreso -->
    <mat-progress-bar
            color="accent"
            mode="determinate"
            [value]="budget.spent_ratio"
            class="progress-bar">
    </mat-progress-bar>

    <!-- Subtítulo de progreso -->
    <div class="progress-footer">
        <span class="progress-percentage">
            {{ budget.available | currency:'$ ':'symbol':'1.0-0' }}
        </span>
    </div>
</div>

<div class="detailed-list">
    <mat-toolbar>
        <span>Detalle de gastos</span>
    </mat-toolbar>

    <div class="table-responsive">
        <table mat-table [dataSource]="expenses" class="mat-elevation-z8">
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef>Gasto</th>
                <td mat-cell *matCellDef="let expense">
                    {{ expense.name }}
                </td>
            </ng-container>
            <ng-container matColumnDef="value">
                <th mat-header-cell *matHeaderCellDef>Valor</th>
                <td mat-cell *matCellDef="let expense">
                    {{ expense.value | currency:'$ ':'symbol':'1.0-0' }}
                </td>
            </ng-container>
            <ng-container matColumnDef="payment_type_name">
                <th mat-header-cell *matHeaderCellDef>Medio de pago</th>
                <td mat-cell *matCellDef="let expense">
                    {{ expense.payment_type_name }}
                </td>
            </ng-container>
            <ng-container matColumnDef="pocket">
                <th mat-header-cell *matHeaderCellDef>Bolsillo</th>
                <td mat-cell *matCellDef="let expense">
                    {{ expense.pocket_name }}
                </td>
            </ng-container>
            <ng-container matColumnDef="created_at">
                <th mat-header-cell *matHeaderCellDef>Fecha</th>
                <td mat-cell *matCellDef="let expense">
                    {{ expense.created_at | customDate }}
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
</div>