form {
    display: flex;
    flex-direction: column; /* Alinea los campos en columna */
    gap: 16px; /* Espaciado vertical entre campos (opcional) */
}

.main-form {
    margin-top: 16px;
    margin-bottom: 16px;
}

/* progress bar */
.progress-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 16px;
    margin: 0 auto; /* Para centrar horizontalmente */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 80%; /* O el ancho que prefieras */
}

.progress-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.progress-start,
.progress-end {
    display: flex;
    flex-direction: column; /* coloca el subtítulo sobre el valor */
    align-items: flex-start; /* o 'center' si prefieres centrar */
}

.subtitle {
    font-size: 14px;
    color: #7184ad;
    font-weight: bold;
    margin-bottom: 4px;
}

.progress-value {
    color: #1f2c73;
    font-size: 20px;
    font-weight: 600;
}

.progress-bar {
    height: 10px; /* Ajusta la altura de la barra */
    margin-top: 8px;
}

.progress-footer {
    margin-top: 4px; /* espacio entre la barra y el texto */
    text-align: right; /* alinea el texto a la derecha */
}

.progress-percentage {
    font-size: 16px;
    color: #7184ad;
    font-weight: bold;
}

/* end progress bar */

/* Para iPhones medianos y grandes */
@media (max-width: 430px) {
    .budget-card {
        width: 90%;
        margin: 0 auto; /* Para centrar horizontalmente */
    }
}

/* Para pantallas de escritorio estándar */
@media (min-width: 1024px) {
    .budget-card {
        width: 60%;
        margin: 0 auto; /* Para centrar horizontalmente */
    }
}

/* Para pantallas de escritorio grandes */
@media (min-width: 1440px) {
    .budget-card {
        width: 60%;
        margin: 0 auto; /* Para centrar horizontalmente */
    }
}